P {
  color: black;
  font-weight:550;
  font-family:sans-serif;
  font-size:15pt;
}

nav {
  font-size: 12pt;
  color:black;
  font-weight:bold;
}

  li {
    font-size: 20pt;
    color: #AAAAAA;
  }

.centered{
text-align:center;
}

.rank-number{
font-weight:bold;
text-align:center;
vertical-align:center;

}

.lists{
padding-inline-start:15px;
}

#tablecaption {
font-weight:bold;
font-size: 20px;
}

#self-titled{
font-style:italic;
}

#not-there{
background-color:#777777;
}

*{
background-color:#999999;
}

a:hover{
color:blue;
}
