P {
  color: black;
  font-weight:550;
  font-family:sans-serif;
  font-size:15pt;
}

nav {
  font-size: 12pt;
  color:black;
}

  li {
    font-size: 20pt
    color: #AAAAAA
  }

.{

}

.{

}

.{

}

#tablecaption {

}

#{

}

#{

}

*{

}
