P {
color: black;
font-weight:550;
font-family:sans-serif;
font-size:15pt;
font:Helvetica;
}

li {
font-size: 15pt;
color: #555555;
}

a{
text-decoration:none;
color:black;
}

img{
height:100%;
width:100%;
border-width:medium;
border-color:#777777;
border-radius:5px;
}

table{
width:100%;
}

.centered{
text-align:center;
}

.rank-number{
font-weight:bold;
text-align:center;
vertical-align:center;
}

.lists{
padding-inline-start:20px;
margin-block-start:0em;
}

#tablecaption {
font-weight:bold;
font-size: 20px;
}

#self-titled{
font-style:italic;
}

#not-there{
background-color:#777777;
}

*{
background-color:#999999;
}

a:visited{
color:blue;
}

a:hover{
color:#000000;
}

a:active {
color:white;
font-style:normal;
}

hr + h3 {
margin-block-start:2px;
margin-block-end:2px;
}

ul + h3 {
margin-block-start:2px;
margin-block-end:2px;
}

nav > a {
font-size: 12pt;
font-weight:bold;
font-style:oblique;
}

a[href*="index.html"] {
font-size: 15pt;
font-style:normal;
}

td[class] {
font-style:oblique;
font-size:15pt;
font:times;
}

h1[class] {
  font-style:italic;
  font-size:40px;
}
